- name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: kakdela-messenger-debug.apk
          path: |
            app/build/outputs/apk/debug/app-debug.apk
            app/build/outputs/apk/debug/*-debug.apk
            app/build/outputs/apk/debug/*.apk
            **/build/outputs/apk/**/*.apk
          if-no-files-found: error
          retention-days: 14
