- name: Build Debug AAB (all variants)
        run: ./gradlew bundle*Debug --stacktrace

      - name: Upload any Debug AAB
        uses: actions/upload-artifact@v4
        with:
          name: kakdela-messenger-debug.aab
          path: "**/*debug*.aab"
          if-no-files-found: error
